In [1]:
d1 = {'a':'some value', 'b':[1,2,3,4]}

In [2]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
d1[7] = 'an integer'

In [4]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [5]:
'b' in d1

True

In [6]:
d1[5] = 'some value'

In [7]:
d1['dummy'] = 'another value'

In [8]:
del d1[5]

In [9]:
d1

{7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [10]:
ret = d1.pop('dummy')

In [11]:
ret

'another value'

In [12]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [14]:
list(d1.keys())

['a', 'b', 7]

In [15]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [39]:
mapping = dict(zip(range(5), reversed(range(5))))

In [17]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [21]:
mapping.get(0)

4

In [24]:
mapping.get(5, 22) # the second argument is default, if key=5 doesn't exist

22

In [30]:
a = {1, 2, 3}

In [35]:
b = {3, 4, 5, 6}

In [36]:
a | b # union

{1, 2, 3, 4, 5, 6}

In [37]:
a & b # intersection

{3}

In [40]:
# List Comprehensions
some_collection = [1, 2, 3, 4, 5, 6, 7, 8, 9]
some_collection

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
result = []
for val in some_collection:
    if val > 5:
        result.append(val)
result

[6, 7, 8, 9]

In [42]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [44]:
# set comprehension
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [45]:
# does the same as above
set(map(len, strings))

{1, 2, 3, 4, 6}

In [46]:
# dict comprehension
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}